@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, winter;
}

/* 폰트 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* 기본 설정 */
html,
html > body,
html > body input,
html > body button,
html > body textarea {
  font-family: 'Pretendard';
  font-weight: 500;
}

.btn {
  border-radius: 8px;
}

/* -------------- 헤더 시작 -------------- */
header {
  width: 100%;
  height: 80px;
  background-color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}

header > nav {
  display: flex;
  align-self: stretch;
}

header > nav > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header > nav > a:hover {
  text-decoration: underline;
}

/* -------------- 헤더 끝 --------------------- */

/* -------------- main 시작 -------------- */
main {
  max-width: 1920px;
  width: 1440px;
  margin-inline: auto;
  margin-top: 80px;
}
/* -------------- main 끝 -------------- */
